<launch deprecated="This file is up to date, please throw out it!">
    <!-- add node-->
    <!-- turtle GUI-->
    <param name="set_param1" type="int" value="1000" />
    <rosparam command="load" file="$(find hello_vscode)/launch/params1.yaml" />
    
    <node pkg="turtlesim" type="turtlesim_node" name="turtle_GUI">
        <remap from="/turtle1/cmd_vel" to="/cmd_vel" />
        <param name="set_param2" type="int" value="10" />
        <rosparam command="load" file="$(find hello_vscode)/launch/params2.yaml" />
    </node>

    <node pkg="turtlesim" type="turtle_teleop_key" name="turtle_key" />
    <node pkg="hello_vscode" type="hello_vscode_c" name="hello" output="screen" />
</launch>